[package]
name = "openpager"
version = "0.1.0"
edition = "2024"

[dependencies]
libc = "0.2"
framebuffer = "0.3"

[profile.release]
lto = true
codegen-units = 1
opt-level = 3
strip = true
panic = "abort"
